
.close {
    color: var(--logo-color-black);

}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.button-backdrop {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--secondary-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;


    &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
}

 .button-backdrop:hover,
 .button-backdrop:focus {
     fill: var(--logo-color);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }